<!-- head para PC -->
{% extends "base.html" %}

{% load  static %}

{% load crispy_forms_tags %}

{% block content %}

{% include 'includes/header.html' %}

<div class="container">

    <form class="form-group" method="post">
        
        {% csrf_token %}
        {{form|crispy}}
        
        <div class="btn-group">
            <button type="submit" class="btn btn-success mt-2">Log In</button>
        </div>    

    </form>
    
    <a class="cell hollow button alert" href="{% url 'users_app:register-padres'%}">Registrar</a>
    
</div>

{% endblock content %}